<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="head__section">
      <h1 class="title"> Welcome to the Chat Board </h1>
    </section>
    <section class="head__section">
      <h1 head__subtitle>You can enter a message below:</h1>
    </section>
    <section class="message__section">
      <form action='/new' method="POST" class="message__container form__container">
        <label class="label__style" for="name">Name *</label>
        <br />
        <input
          required="true"
          class="message__input"
          type="text"
          name="user"
          placeholder="Enter your name"
        />
        <br />
        <label for="name" class="label__style">Message *</label>
        <br />
        <textarea
          wrap="hard"
          rows="5"
          cols="15"
          maxlength="100"
          minlength="2"
          required="true"
          class="text__input"
          type="text"
          name="text"
          placeholder="Enter your message"
        ></textarea>
        <br />
        <div class="flex__middle">
          <button class="form__button" type="submit">Submit</button>
        </div>
      </form>
    </section>
    
    <section class="message__section">
      <ul>
        <% messages.forEach((message) => { %>
        <div class="message__container">
          <div class="message__text"
            ><li> <h2><%=message.text %> </h2></li></div
          >
          <div class="message__info"
            ><li> <h4><%= message.user %> </h4></li
            ><li> <h5><%= message.added %></h5> </li>
          </div></div
        >
        <% })%>
      </ul>
    </section>
    <footer>
      <div class="footer__container">
        <a class="link__style" href="/new"> Enter a message<a>
      </div>
    </footer>
  </body>
</html>
