html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  background-color: rgb(21, 20, 26);
  color: #fbfbfb;
  font-family: 'Roboto', sans-serif;
}

.head__section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.title {
  font-size: 2.5rem;
  font: Roboto, sans-serif;
}

.head__subtitle {
  color: #74a9f6;
  font-size: 1.875rem;
}

.message__input {
  font-size: 1.25rem;
  line-height: 2rem;
  min-width: 25rem;
  height: auto;
}

.form__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 10rem;
  padding: 2rem;
  margin: 2rem;
  font-size: 1.25rem;
}

.message__container {
  background-color: #343a46;
  color: #f6f7f9;
  max-width: 50rem;
  height: auto;
  list-style: none;
  padding: 1rem;
  margin: 2rem;
  border-radius: 20px;
}

.message__text {
  font-size: 1.25rem;
}

.message__info {
  color: #74a9f6;
  font-size: 1rem;
}

.message__section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.link__button {
  font-family: Roboto, sans-serif;
  color: white;
  background-color: #087ea4;
  padding: 2rem;
  font-size: 2rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  font-weight: 700;
}

.link__button:hover {
  opacity: 0.8;
}

.label__style {
  color: #74a9f6;
}

.form__button {
  font-weight: 700;
  font-size: 1.5rem;
  border: none;
  border-radius: 4px;
  padding: 1rem;
  margin: 1rem;
  color: white;
  background-color: #087ea4;
  cursor: pointer;
}

.form__button:hover {
  opacity: 0.8;
}

.text__input {
  max-width: 600px;
  max-height: 600px;
  font-size: 1.25rem;
  font-family: 'Roboto', sans-serif;
}

.flex__middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link__style {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #74a9f6;
  text-decoration: underline;
}
